body {
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 24px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

      			a:link {
      				color: #ffffff;
      				font-weight: bold;
      				text-decoration:none;
      			}
      			a:visited {
      				color: #ffffff;
      				font-weight: bold;
      				text-decoration:none;
      			}
      			a:hover {
      				color: #ffffff;
      				font-weight: bold;
      				text-decoration: underline;
					}
other nice background colours:
3ea5CE
1abc9c
0086A3
