.mainwrapper {
    display:table;
}

.innerwrap {
    display:table-cell; 
    vertical-align:middle;
}

body {
        		font-family: Baskerville W01 Italic, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
        		font-size: 20px;
        		color:#333333;
        		background-color:#FEFAE1;
        		/*width: 560px; margin: 0 auto;
        		height: 380px;*/
      			}

      			a:link {
      				color: #333333;
      				font-weight: bold;
      				text-decoration:none;
      			}
      			a:visited {
      				color: #333333;
      				font-weight: bold;
      				text-decoration:none;
      			}
      			a:hover {
      				color: #333333;
      				font-weight: bold;
      				text-decoration: underline;
					}
other nice background colours:
3ea5CE
1abc9c
0086A3
